html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  font-family: "Gilroy";
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Gillroy";
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("ttf");
}

a {
  color: #000;
}

a:hover,
a:focus {
  text-decoration: none;
}

.footerText:hover .footerText:focus {
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container__gray {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gray-back {
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills-time {
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio-time {
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contakts-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
